@{
    ViewBag.Title = "Products";
    
}
<div id="product-form-dialog">
        
</div>


<a id="add-new-product-btn" href="#" data-action="@Url.Action("New")">Add new product</a>

<h2>
    Product List</h2>
<table>
    <tbody>
        @foreach (var item in ViewBag.Products)
        {
            <tr>
                <td>
                    @item.Name
                </td>
                <td>
                    @item.Price
                </td>
                <td>
                    @item.Description
                </td>
                <td>
                    @if (item.Category != null)
                    {
                        @item.Category.Name    
                    }
                </td>
                <td>
                    <a class="edit-product-btn" href="#" data-action="@Url.Action("Edit", new { id = item.Id })">Edit</a>
                </td>
                <td>
                   @Html.ActionLink("Delete", "Delete", new { id = item.Id }) 
                </td>
            </tr>
        }
    </tbody>
</table>


<script type="text/javascript">
    require(["views/products/index"], function (index) {
        $(function () {
            index.init();
        });
    });
</script>
