 @using Web.Domain; 
 @model Product
@{
    ViewBag.Title = "Create new product";
    
}

<h2>Create New Product</h2>

 @using (Html.BeginForm("Create", "Products"))
{
    <fieldset>
          @Html.LabelFor(model => model.Name) :
          @Html.TextBoxFor(model => model.Name)
          <br />
          @Html.LabelFor(model => model.Price) :
          @Html.TextBoxFor(model => model.Price)
           <br />
          @Html.LabelFor(model => model.Description) :
          @Html.TextBoxFor(model => model.Description)
@*          <br />*@
@*          @Html.LabelFor(model => model.Category) :*@
@*          @Html.DropDownListFor(model => model.Category, new SelectList(ViewBag.Categories, "CollectionTypeId", "Title"))*@
          <input type="submit" value="Submit" />
    </fieldset> 
}
